// Viewports
$media-up--XS: 360px;
$media-up--S : 768px;
$media-up--M : 980px;
$media-up--L : 1400px;
$media-up--XL : 1920px;

// Colors
$color-card-backgroud: #F1F0FF;
$color-button-background:#000000;
$color-button-background-hover: #7B61FF;
$color-button-text: #FFFFFF;
$color-input-border: #D6D8E7;
$color-search-background: #FCFCFC;
$color-search-focus: #7B61FF;